fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
motor
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pyotp
httpx
cloudinary
asyncio
aiohttp

# PDF parsing & OCR
pdfplumber
PyMuPDF
pytesseract
Pillow
camelot-py[cv]
pandas

