fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
motor>=3.3.2
pymongo>=4.5,<5
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pyotp
httpx
cloudinary
asyncio
aiohttp
fpdf2

# PDF parsing & OCR
pdfplumber
PyMuPDF
pytesseract
Pillow
camelot-py[cv]
pandas

